.container {
    display: grid;
    grid-template-columns: 1fr .25fr 1fr;
    margin: 5em 10%;

    .pet-list {
        grid-column: 1 / 2;
    }

    .pet-overview {
        grid-column: 3 / 4;
    }
}