
<mat-card>
  <mat-card-title>Appointments
    <button mat-mini-fab (click)="addApptClicked()">
      <mat-icon class="mat-18">add</mat-icon>
    </button>
  </mat-card-title>
  <mat-selection-list [multiple]="false">
    <mat-list-option *ngFor="let appt of apptsArray"
    (click)="onSelect(appt)">
      <div class="appt-list-item" >
        <div>{{ appt.date | date }}</div>
        <div>{{ appt.petName }}</div>
        <div>{{ appt.subject }}</div>
      </div>
      <mat-divider></mat-divider>
    </mat-list-option>
  </mat-selection-list>
</mat-card>

