<h2>Details</h2>
<div class="overview-container">
  <div *ngIf="selectedPet; else noSelection">
    <h3>Name: {{ selectedPet.name }}</h3>
    <p>Species: {{ selectedPet.species | titlecase}}</p>
    <p>Breed: {{ selectedPet.breed | titlecase}}</p>
    <p>Age: {{ selectedPet.age }} years</p>
    <p>Weigth (kg): {{ selectedPet.weight }}</p>
    <h4>Medication:</h4>
    <ul>
        <li *ngFor="let med of selectedPet.medication">
            <p>Name:{{med.name}}</p>
            <p>Dose(mg): {{med.doseInMg}}</p>
            <p>Dose frequency: {{med.doseFrequency}}</p>
        </li>
    </ul>
    <button>Details</button>
  </div>
  <ng-template #noSelection>
      <p>Select a pet</p>
  </ng-template>
</div>
